.tower {
	display: inline-block;
	border: solid 5px black;
	width: 300px;
	height: 400px;
	position: relative;
}
.wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.selected {
	background-image: url('blockWhite.png');
	background-size: cover;
	margin: -6% auto 0;
}
.unselected {
	margin: -6% auto 0;
	background-image: url('block.png');
	background-size: cover;
}
#block1 {
	height: 55px;
	width: 160px;
}
#block2 {
	height: 75px;
	width: 215px;
}
#block3 {
	height: 100px;
	width: 300px;
}

