.tower {
	display: inline-block;
	border: solid 5px black;
	width: 300px;
	height: 400px;
	position: relative;
}
#block1 {
	background-image: url('block.png');
	background-size: cover;
	height: 55px;
	width: 160px;
	position: absolute;
  bottom: 135px;
  left: 72px;
}
#block2 {
	background-image: url('block.png');
	background-size: cover;
	height: 70px;
	width: 205px;
	position: absolute;
  bottom: 80px;
  left: 48px;
}
#block3 {
	background-image: url('block.png');
	background-size: cover;
	height: 100px;
	width: 300px;
	position: absolute;
  bottom: 0px;
}
